{% extends "base.html" %}

{% block sub_heading %} Cluster Statistics{% endblock %}
{% block body %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script>
  var numMonths = 11; // should be set to  in template
  // core variables for bar chart
  var width = 675;
  var height = 450;
  var padding = width / 17; //space from the edge of CSV, prevent y-axis ticks getting cut off
  var barWidth = width / 18;

  // calling functions to get the earliest month
  var current = new Date(), // current date 
    currentMonth = current.getMonth(),
    currentYear = current.getFullYear();

  var dMonths = new Date(currentYear, currentMonth, 1); // delta months
    dMonths = new Date(dMonths.setMonth(current.getMonth() - numMonths));
  
  current.setMonth(currentMonth + 1);
  current.setDate(0); // getting last day of the month, ensures that graph doesn't get cut off

  // function to draw bar graphs (currently the job graph and cpu time graph)
  function drawGraph(jsonsrc, div_element) {
    d3.json(jsonsrc, function(data) {
      var canvas = d3.select(div_element)
        .append("svg")
        .attr("width", width)
        .attr("height", height)

      var yScale = d3.scale.linear()
        .domain([0, d3.max(data, function(d) {return d.y}) * 1.25])
        .range([height - padding, padding]);

      var xTime = d3.time.scale() //months
        .domain([dMonths, current])
        .range([padding * 2, width - padding]);

      var xScale = d3.time.scale() //json gives integers, not date object
        .domain([dMonths, current])
        .range([padding * 2.25, width - padding]);

      var xAxis = d3.svg.axis() //months
        .scale(xTime)
        .orient("bottom")
        .ticks(d3.time.months)
        .tickSize(16, 0)
        .tickFormat(d3.time.format("%b"));

      var yAxis = d3.svg.axis()
            .scale(yScale)
            .orient("left");
        
      var tip = d3.tip() // tooltip
        .attr("class", "d3-tip")
        .offset([-10, 0]);
        // will need to adjust below if more graph types arise
        if(div_element == "#job_chart") {
        tip.html(function(d) {
            return "<strong>Total Jobs: </strong>" + d.y + "<br>&#8195; Completed: " + d.completed + "<br>&#8195; Failed: " + d.failed + "<br>&#8195; Cancelled: " + d.cancelled;
          });
      }
        else {
          tip.html(function(d) {
            return "<strong>Total Core Hours Used: </strong>" + Math.round(d.y * 10) / 10.0 + "<br><strong>Total Core Hours Requested: </strong>" + Math.round(d.requested * 10) / 10.0 + "<br><strong>% of Requested Time Actually Used: </strong>" + Math.round(d.ratio * 10) / 10.0 + "%";
          });
        }

      canvas.selectAll("rect")
          .data(data)
          .enter()
            .append("rect")
              .attr("height", 0)
              .attr("width", barWidth)
              .attr("y", height - padding)
              .attr("x", function(d, i) {
                dateToUse = new Date(currentYear, currentMonth, 1);
                dateToUse.setMonth(current.getMonth() - i);
                return xScale(dateToUse);
              })
              //.attr("x", function (d, i) { return xScale(numMonths - i + 1); })
              .attr("class", "bar")
              .attr("fill", "#4DB870")
              .on('mouseover', tip.show)
                  .on('mouseout', tip.hide)
                .transition()
                  .delay(function(d, i) { return (numMonths + 1 - i) * 75; })
                  .duration(250)
                  .attr("y", function (d) { return yScale(d.y); })
                  .attr("height", function (d) { return height - padding - yScale(d.y); });

      canvas.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0," + (height - padding) + ")")
        .call(xAxis)
        .selectAll(".tick text")
            .style("text-anchor", "start")
            .attr("x", 6)
            .attr("y", 6);

      canvas.append("g")
          .attr("class", "axis")
          .attr("transform", "translate(" + padding * 2 + ",0)")
          .call(yAxis)
          .call(tip);
    });
  };
</script>
<div class="row">
  <div class="large-12 columns">
    <h1>Cluster Statistics</h1>
  </div>
</div>
<div style="border-top: thin solid; border-bottom:thin solid;">
  <ul class="tabs" data-tab>
    <li class="tab-title active"><a href="#graphs">Cluster History Graphs</a></li>
    <li class="tab-title"><a href="#stats">Cluster Statistics</a></li>
  </ul>
</div>
  <div class="tabs-content">
    <div class="content active" id="graphs">
      <ul class="tabs vertical" data-tab>
        <li style="border-right:thin solid" class="tab-title active"><a href="#job">Total Jobs</a></li>
        <li style="border-right:thin solid" class="tab-title"><a href="#time">Total Core Hours</a></li>
      </ul>
      <div class="tabs-content">
        <div class="content active" id="job">
          <p id="job_chart"></p>
        </div>
        <div class="content" id="time">
          <p id="time_chart"></p>
        </div>
      </div>
    </div>
    <div class="content" id="stats">
    </div>
  </div>
<script>
drawGraph("/HPC_Portal/clusterjobs/", "#job_chart");
drawGraph("/HPC_Portal/clustertime/", "#time_chart");
</script>
{% endblock %}
