{% extends "base.html" %}

{% block sub_heading %} User Dashboard{% if uname %}: {{uname}}{% endif %} {% endblock %}

{% block body %}
<div class = "row">
  <form action="{% url 'user_dashboard' %}" method="post">
    {% csrf_token %}
    <div class = "row large-6 columns error">{{ form.non_field_errors }}</div>
    <div class = "row large-6 columns error">{{ form.username.errors }}</div>
    <div class = "row">
      <div class = "large-6 columns">
	<div class = "row collapse prefix-radius">
	  <div class = "small-2 columns"><span class = "prefix">{{ form.username.label }}</span></div>
	  <div class = "small-9 columns">{{ form.username }}</div>
	  <div class = "small-1 columns"><div class="row collapse postfix-round"><input class="button postfix" type="submit" value="Go!"></div></div>
	</div>
      </div>
    </div>
  </form>
</div>
{% if submitted %}
{% if exists %}
<span class="success alert label"><b>Username:</b> {{ uname }} </span> <span class="info label"><b>UserID:</b> {{ uid }} </span>
<br /><br />
<div class="row">
  <div class="small-6 columns">
  <b>Jobs</b><br>
  {{ total_jobs.0 }} jobs this past week<br>

  {{ total_jobs.1 }} jobs this past month<br>

  {{ total_jobs.2 }} jobs since the dawn of time<br>

  <br><b>Core Time (listed in hours:minutes:seconds)</b><br>
  {{ total_cpuhours.0 }} used this past week <br>

  {{ total_cpuhours.1 }} used this past month<br>

  {{ total_cpuhours.2 }} used since the dawn of time <br>
  <br> More stuff here?
  </div>
  <div class="small-6 columns">
  <p id="job_chart"></p>
  <p id="time_chart"></p>
  </div>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js" charset="utf-8"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script>
  var numMonths = 5; // should be set to  in template
  // core variables for bar chart
  var width = 500;
  var height = 400;
  var padding = width / 20; //space from the edge of CSV, prevent y-axis ticks getting cut off
  var barWidth = width / 8.5;

  // calling functions to get the earliest month
  var current = new Date(), // current date 
    currentMonth = current.getMonth(),
    currentYear = current.getYear();

  var dMonths = new Date(2015, currentMonth, 1); // delta months
    dMonths = new Date(dMonths.setMonth(current.getMonth() - numMonths));
  
  current.setMonth(currentMonth + 1);
  current.setDate(0); // getting last day of the month, ensures that graph doesn't get cut off

  // function to draw bar graphs (currently the job graph and cpu time graph)
  function drawGraph(jsonsrc, div_element) {
    d3.json(jsonsrc, function(data) {
      var canvas = d3.select(div_element)
        .append("svg")
        .attr("width", width)
        .attr("height", height)

      var yScale = d3.scale.linear()
        .domain([0, d3.max(data, function(d) {return d.y}) * 1.25])
        .range([height - padding, padding]);

      var xTime = d3.time.scale() //months
        .domain([dMonths, current])
        .range([padding * 2, width - padding]);

      var xScale = d3.scale.linear() //json gives integers, not date object
        .domain([dMonths.getMonth(), current.getMonth()])
        .range([padding * 2.1, width - padding * 1.2 - barWidth]);

      var xAxis = d3.svg.axis() //months
        .scale(xTime)
        .orient("bottom")
        .ticks(d3.time.months)
        .tickSize(16, 0)
        .tickFormat(d3.time.format("%B"));

      var yAxis = d3.svg.axis()
            .scale(yScale)
            .orient("left");
        
      var tip = d3.tip() // tooltip
        .attr("class", "d3-tip")
        .offset([-10, 0]);
        // will need to adjust below if more graph types arise
        if(div_element == "#job_chart") {
          tip.html(function(d) {
            return "<strong> Total Jobs this Month: </strong>" + Math.round(d.y * 10) / 10.0;
          });
        }
        else {
          tip.html(function(d) {
            return "<strong> Total Core Hours Used: </strong>" + Math.round(d.y * 10) / 10.0;
          });
        }

      canvas.selectAll("rect")
          .data(data)
          .enter()
            .append("rect")
              .attr("height", 0)
              .attr("width", barWidth)
              .attr("y", height - padding)
              .attr("x", function (d, i) { return xScale(5 - i + 1); })
              .attr("class", "bar")
              .attr("fill", "#4DB870")
              .on('mouseover', tip.show)
                  .on('mouseout', tip.hide)
                .transition()
                  .delay(function(d, i) { return (6 - i) * 75; })
                  .duration(250)
                  .attr("y", function (d) { return yScale(d.y); })
                  .attr("height", function (d) { return height - padding - yScale(d.y); });

      canvas.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0," + (height - padding) + ")")
        .call(xAxis)
        .selectAll(".tick text")
            .style("text-anchor", "start")
            .attr("x", 6)
            .attr("y", 6);

      canvas.append("g")
          .attr("class", "axis")
          .attr("transform", "translate(" + padding * 2 + ",0)")
          .call(yAxis)
          .call(tip);
    });
  };
  drawGraph("./test/{{ uid }}", "#time_chart");
  drawGraph("./test/{{ uid }}", "#job_chart");
</script>

{% else %}
<b><font color = "red">You have entered an invalid username.</b></font><a href = "./"> Back</a>
{% endif %}
{% else %}
<br> This area will be populated upon entering a valid username. <br>
{% endif %}
{% endblock %}
