{% extends "base.html" %}

{% block sub_heading %} User History{% if uname %}: {{uname}}{% endif %} {% endblock %}
{% block body %}
<div class="row">
  <div class="large-12 columns">
    <h1>Job History</h1>
    <hr/>
  </div>
</div>
<div class = "row">
   <div class = "large-12 columns">
    <form action="{% url 'user_history' %}" method="post">
      {% csrf_token %}
      <div class = "row large-6 columns error">{{ form.non_field_errors }}</div>
      <div class = "row large-6 columns error">{{ form.username.errors }}</div>
      <div class = "row">
        <div class = "large-6 columns">
          <div class = "row collapse prefix-radius">
            <div class = "small-2 columns"><span class = "prefix">{{ form.username.label }}</span></div>
            <div class = "small-9 columns">{{ form.username }}</div>
            <div class = "small-1 columns">
              <div class="row collapse postfix-round"><input class="button postfix" type="submit" value="Go!"></div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class = "row">
  <div class = "large-12 columns">
  {% if exists %}
   {% if submitted %}
    <span class="success alert label"><b>Username:</b> {{ uname }} </span> <span class="info label"><b>UserID:</b> {{ uid }} </span>
    <br /><br />
    <table id = "userinfo" class = "display" cellspacing = "0" width = "100%">
     <thead>
      <tr>
      	<th>JobID</th>
      	<th>Job Name</th>
      	<th>Job State</th>
      	<th>Time Started</th>
      	<th>Time Ended</th>
      	<th title="hh:mm:ss">Total Time</th>
      	<th title="hh:mm:ss">Requested Time</th>
      	<th>CPUs Allocated</th>
      	<th>CPU Time</th>
      	<th>Memory Requested (MB)</th>
      </tr>
     </thead>
     <tfoot></tfoot>
     <tbody>
      {% for job in allJobs %}
      <tr>
      	<td>{{ job.job_db_inx }}</td>
      	<td style="width: 15%;"><div style="overflow:scroll;">{{ job.job_name }}</div></td>
      	<td>{{ job.state }}</td>
      	<td>{{ job.time_start|date:"Y/m/d, H:i:s" }}</td>
      	<td>{{ job.time_end|date:"Y/m/d, H:i:s" }}</td>
      	<td>{{ job.runtime }}</td>
      	<td>{{ job.timelimit }}</td>
      	<td>{{ job.cpus_alloc }} </td>
      	{% if job.cputime.days == 0 %}
      	<td>0 days, {{ job.cputime }}</td>
      	{% else %}
      	<td>{{ job.cputime }}</td>
      	{% endif %}
      	<td>{{ job.mem_req }}</td>
      </tr>
      {% endfor %}
     </tbody>
   </table>
  {% else %}
    <br>This area will be populated upon entering a valid username. 
  {% endif %}
 {% else %}
  <b><font color = "red">You have entered an invalid username.</b></font><a href = "./history"> Back</a>
 {% endif %}
</div>
</div>
{% endblock %}


{% block initscripts %}
<script type="text/javascript">
  $(document).ready(function() {
  $('#userinfo').DataTable( {
    responsive: true,
   "columnDefs": [
        { "type": "natural", targets: [5, 6, 8] }
    ],
   "order": [[ 3, "desc" ]]
  });
} );

</script>
{% endblock %}
